body {
 text-align: center;
 border: 1px solid black;
 background-image: url(https://resources.owllabs.com/hs-fs/hubfs/fog-3622519_1920-jpg.jpeg?width=882&name=fog-3622519_1920-jpg.jpeg);
 background-repeat: no-repeat;
 background-attachment: fixed;  
 background-size: cover;
}
